{% macro flashMessages(messages) %}
	{% if messages %}
		<div id="flash-messages" class="container">
			{% for message in messages.info %}
				{{ flashMessage(message, "info") }}
			{% endfor %}
			{% for message in messages.success %}
				{{ flashMessage(message, "success") }}
			{% endfor %}
			{% for message in messages.warning %}
				{{ flashMessage(message, "warning") }}
			{% endfor %}
			{% for message in messages.error %}
				{{ flashMessage(message, "danger") }}
			{% endfor %}
		</div>
	{% endif %}
{% endmacro %}

{% macro flashMessage(message, type) %}
	<div class="alert alert-{{ type }}">
		{% if message %}
			{% if message.title %}
				<h5>{{ message.title }}</h5>
			{% endif %}
			{% if message.detail %}
				<p>{{ message.detail }}</p>
			{% endif %}
			{% if message.list %}
				<ul>
					{% for item in message.list %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			{{ message }}
		{% endif %}
	</div>
{% endmacro %}
